{%extends "base.html"%}
{%block title%}
    news
{%endblock%}
{%load static%}
{%block content%}


<p>information</p>
  {% for post in posts %}
  <div class="container">
  
  <div class="post-preview">
        <img src="{{post.image.url}}" alt="">
        <h2 class="post-title">{{post.title}}</h2>

        
    <p class="post-meta">
        Posted by
        <a href="#!">Start Bootstrap</a>
        {{post.datetime}}
    </p>
    <a class="btn btn-primary" href="{{ post.get_absolute_url }}" role="button">read more</a>

</div>
</div>


    {% endfor %}
    
{%endblock%}
