{%extends "base.html"%}
{%block title%}
    news
{%endblock%}
{%load static%}
{%block content%}

  <form action="" method=POST>
    {% csrf_token %}
  
  <form>
  <div class="mb-3">
  <label for="exampleInputEmail1" class="form-label">Username</label>
  <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
  
  </div>
  <div class="mb-3">
  <label for="exampleInputPassword1" class="form-label">Password</label>
  <input type="password" class="form-control" name="password">

  <button>Sign in</button>
  </div>
{% comment %} <form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Log In</button>
</form> {% endcomment %}
{% endblock %}